/*.picture1 {*/
    /*content: 'center';*/
/*}*/

.item.active {
    text-align: "center";
     margin: auto;
    width: 960px;
    height: 490px;
    }
.item{
    width: 960px;
    height: 490px;
}
#myCarousel img {
    /*width: 80%;*/
    margin: 0 auto;
    }




/*.img {*/
    /*width: 800px;*/
/*}*/

.carousel-caption {
    right: 0%;
    left: 0%;
    padding-bottom: 15px;
}
.carousel-caption {
    left: 0%;
    z-index: 0;
    padding-top: 0px;
    padding-bottom: 10px;
    color: black;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    position:absolute;
    right: 0%;
    bottom: 0px;
    /*margin-left: 250px;*/
    /*margin-right: 250px;*/
}
/*.carousel-caption-2{*/
    /*left: 0%;*/
    /*z-index: 0;*/
    /*padding-top: 0px;*/
    /*padding-bottom: 10px;*/
    /*color: black;*/
    /*text-align: center;*/
    /*text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);*/
    /*position:absolute;*/
    /*right: 0%;*/
    /*bottom: 0px;*/
    /*margin-left: 250px;*/
    /*margin-right: 250px;*/
/*}*/