.toppage {
      background: yellow;
      padding: 25px;      
      }

.sidebars {
      background: purple;
      padding: 5px;
        
      }    
      
.list {
      background: yellow;
      padding: 5px;
      width: 500px;
      border: 1px solid;
      border-radius: 20px
      }
 

.navbar {
      	display: table;
     	background-color: yellow;
      	width: 1200px;
      	border- color: purple;    
	display:table-cell;
    	width:1%;
    	padding:10px;
    	text-decoration:none;
    	vertical-align:middle;
    	text-align:center;	
	border: 1px solid;
        border-radius: 20px;    
      }

.img1 {
	border-style: solid;
	border-width: medium;
        border-color: purple;
        }	

.img2 {
        border-style: solid;
      	border-width: 1px;
        border-color: black;
	}

.mission {
	background: purple;
       	width: 1200px;
	padding: 25px;
        margin: 0px;
	}
