.toppage {
      background: yellow;
      padding: 25px;
	}

.navbar {
    display: block;
    background-color: yellow;
    width: 900px;
    padding: 10px;
    border-style: solid;
    border-width: 2px;
    border- color: purple;    
}


.img1 {
	border-style: solid;
	border-width: medium;
        border-color: purple;
        }	

.mission {
        background: purple;
	width: 1200px;
	padding: 25px;
        margin: 0px;
	border:0px;
	 }
